* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 14px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  display: flex;

  @media (max-width: 600px) {
    flex-direction: column;
  }
}

a {
  color: inherit;
  text-decoration: none;
}
