#ignore patches files
*.patch

#ignore backup files
*~
\#*\#

#compiled help files
help/*

#release tarballs
phpreport*.tar.gz
phpreport*.zip

#default config file
config/config.defaults

.env
docker/.env

#minified JS and source maps
*.min.js
*.min.js.map

# Composer dependencies
vendor

# do not ignore vue.js and v-calendar files
!web/vuejs/*.min.js
