.holidayContainer {
    display: grid;
    grid-template-columns: 35% 65%;
    padding: 20px;
    grid-gap: 10px;
    font-family: tahoma,arial,helvetica,sans-serif;
}

@media (min-width: 960px) {
    .holidayContainer {
        grid-template-columns: 22% 78%;
    }
}

.holidaysList {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.sidebarTitle {
    line-height: 1.5em;
    margin-bottom: 1em;
}

.summary {
    border-collapse: collapse;
    font-size: 0.8em;
    margin-top: 10px;
    line-height: 1.5em;
    width: 100%;
}

.summary tr {
    border-bottom: 1px solid #ccc;
    list-style: none;
}

.summary td {
    padding: 5px;
}

.summary td:first-child {
    font-weight: bold;
}

.submenu {
    font-family: tahoma,arial,helvetica,sans-serif;
    background-color: #eee;
    display: flex;
    padding: 15px;
}

.submenu a {
    color: #005fb6;
    text-decoration: none;
}
.submenu a:hover {
    color: #005fb6;
    text-decoration: underline;
}

.submenu li{
    list-style: none;
    margin: 0 20px;
}

.userList {
    display: none;
}
