.holidayContainer {
    display: grid;
    grid-template-columns: 20% 80%;
    padding: 20px;
    grid-gap: 10px;
    font-family: tahoma,arial,helvetica,sans-serif;
}

.holidaysList {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 20px;
}

.holidaysList ul{
    margin-top: 10px;
    padding-left: 20px;
    list-style: disc;
    line-height: 1.5em;
}
