ul#menubar {
    list-style-type: none;
    background-color: #dfe8f6;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

#menubar li {
    float: left;
}

#menubar li a,
.dropdown-button {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menubar li a:hover,
.dropdown:hover .dropdown-button,
.dropdown-content a:hover {
    background-color: #bfd4f0;
}

#menubar li.dropdown {
    display: inline-block;
}

#menubar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99
}

#menubar .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

#menubar .show {
    display:block;
}
