ul#menubar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-top: 5px;
}

#menubar #header-icon {
    padding: 5px 10px 6px;
    float: left;
}

#menubar > li {
    float: left;
}

#menubar li.right {
    float: right;
}

#menubar a {
    font: normal 14px arial,tahoma,verdana,helvetica;
    display: block;
    color: black;
    text-decoration: none;
}

#menubar > li > a {
    padding: 14px 16px;
}

#menubar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99
}

#menubar .dropdown-content a {
    padding: 12px 32px 12px 48px;
}

#menubar .show {
    display:block;
}

#menubar .dropdown-content .divider {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  border: 0;
}

#menubar li:not(#icon):hover {
    background-color: #bfd4f0;
}

.menu-arrow {
    width: 8px;
    height: 8px;
}

/* icons for menu items from spritesheet */

#menubar .dropdown-content li a:before {
    content: "";
    position: absolute;
    height: 16px;
    width: 16px;
    left: 16px;
    background-image: url(images/menu-spritesheet.png);
}

.sprite-book a:before {
    background-position: -1px -1px;
}

.sprite-book-edit a:before {
    background-position: -19px -1px;
}

.sprite-book-go a:before {
    background-position: -37px -1px;
}

.sprite-book-open a:before {
    background-position: -55px -1px;
}

.sprite-brick-edit a:before {
    background-position: -73px -1px;
}

.sprite-building-edit a:before {
    background-position: -91px -1px;
}

.sprite-calendar-edit a:before {
    background-position: -109px -1px;
}

.sprite-pencil a:before {
    background-position: -127px -1px;
}

.sprite-report-user a:before {
    background-position: -145px -1px;
}

.sprite-script-edit a:before {
    background-position: -163px -1px;
}

.sprite-sitemap a:before {
    background-position: -181px -1px;
}

.sprite-sitemap-color a:before {
    background-position: -199px -1px;
}

.sprite-user a:before {
    background-position: -217px -1px;
}

.sprite-user-edit a:before {
    background-position: -235px -1px;
}

.sprite-user-green a:before {
    background-position: -253px -1px;
}

.sprite-vcard-edit a:before {
    background-position: -271px -1px;
}
