ul#menubar {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
    padding-top: 5px;
}

#menubar #header-icon {
    padding: 5px 10px 6px;
    float: left;
}

#menubar > li {
    float: left;
}

#menubar li.right {
    float: right;
}

#menubar a {
    font: normal 14px arial,tahoma,verdana,helvetica;
    display: block;
    color: black;
    text-decoration: none;
}

#menubar > li > a {
    padding: 14px 16px;
}

#menubar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99
}

#menubar .dropdown-content li {
    background-position-x: left;
    background-position-y: center;
    border-left: 16px solid #f9f9f9;
}

#menubar .dropdown-content a {
    padding: 12px 32px;
}

#menubar .show {
    display:block;
}

#menubar .dropdown-content .divider {
  height: 1px;
  overflow: hidden;
  background-color: #e5e5e5;
  margin: 0;
  padding: 0;
  border: 0;
}

#menubar li:not(#icon):hover {
    background-color: #bfd4f0;
    border-color: #bfd4f0;
}

.menu-arrow {
    width: 8px;
    height: 8px;
}
