body {
    background: linear-gradient(#dadada, white) bottom no-repeat;
}

#sidebar {
    float: left;
}

.auxiliarpanel {
    float: left;
    clear: left;
    padding: 5px 5px 0px;
}

#content {
    padding: 5px;
}

#content.tasks-content {
    padding: 5px 5px 5px 0px;
    margin-left: 214px;
}

#tasks .task-panel {
    padding-bottom: 5px;
}

#footer {
    clear: both;
}

.started-task {
    background: yellow;
}

.not-started-task {
    background: #FE454B;
}

.finished-task {
    background: #80FF00;
}

#moreactions .x-toolbar {
    border-width: 1px;
}

.x-form-check-wrap input:focus + label {
    text-decoration: underline;
}

.x-btn BUTTON:focus {
    text-decoration: underline;
}

div#tasks textarea {
    resize: vertical;
}

.new-badge {
    position: relative;
    top: -5px;
    font-size: 0.8em;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 2px 5px;
    margin-left: 5px;
}

.warning {
    font-size: 0.8em;
    border: 1px solid #eee;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.warning.info {
    background-color: #edf5ff;
    border-color: #7da6db;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.btn {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
    box-shadow: 2px 2px 2px #eee;
    text-transform: uppercase;
    font-weight: bold;
    margin: 2px;
}

.btn:hover {
    color: #0f60ca;
}

.btn:disabled {
    color: #ccc;
    cursor: default;
}

.snackbarWrapper {
    position: fixed;
    bottom: 1em;
    max-width: 80%;
    min-width: 100px;
    z-index: 1;
}

.message {
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #ccc;
    border: 1px solid #ccc;
    font-size: 0.8em;
    color: #444;
    margin-bottom: 10px;
}

.message.error {
    background-color: #feecf0;
    border: 1px solid #cc0f35;
}

.message.success {
    background-color: #effaf5;
    border: 1px solid #257953;
}

.autocompleteContainer {
    position: relative;
}

.autocompleteSearchInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ccc;
    box-sizing: border-box;
    cursor: pointer;
}

.autocompleteSearchInput:focus {
    outline: none;
    border-radius: 5px 5px 0 0;
}

.autocomplete {
    box-sizing: border-box;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0 0 5px 5px;
    box-shadow: 2px 2px 2px #ccc;
    padding: 0;
    overflow: auto;
    max-height: 200px;
    width: 100%;
    z-index: 1;
}

.autocomplete.hidden {
    display: none;
}

.autocompleteItemBtn:hover, .autocompleteItemBtn:focus {
    background-color: #f0f0f0;
}

.autocompleteItemBtn {
    background-color: #fff;
    border: none;
    display: inline-block;
    color: #000;
    text-decoration: none;
    width: 100%;
    height: 100%;
    padding: 10px;
    text-align: left;
}

.autocompleteItemBtn.active { 
    background-color: #f0f0f0;
}
