body {
    background: transparent url('images/phpreport-footer-background.png') repeat-x 0 bottom;
}

#header {
    background: transparent url('images/phpreport-header-background.png') repeat-x;
}

#sidebar {
    float: left;
    padding: 10px 30px;
}

#auxiliarpanel {
    float: left;
    clear: left;
    padding: 5px;
}

#content {
    float: both;
    margin-left: 215px;
}

#footer {
    clear: both;
}

.started-task {
    background: yellow;
}

.not-started-task {
    background: #FE454B;
}

.finished-task {
    background: #80FF00;
}

/* Workaround for the bug with datepicker in Chrome */
.x-date-picker {
    width: 185px;
}
