.content {
    margin: 20px auto;
    max-width: 90%;
}

.report {
    padding: 0;
    max-width: 90%;
    overflow-x: auto;
    display: block;
    margin: 30px auto;
    border-spacing: 0;
    font-family: arial,helvetica,sans-serif;
    box-sizing: border-box;
    max-height: 80vh;
}

.report thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

.report th {
    background-color: #f5f5f5;
    text-align: left;
    font-weight: bold;
    border-bottom: 1px solid #444;
}

.report td {
    border-bottom: 1px solid #ccc;
}


.report td:first-child{
    position: sticky;
    left: 0;
    background-color: #f5f5f5;
}

.report td, .report th {
    padding: 10px;
    margin: 0;
    white-space: nowrap;
}

.report tr:nth-child(even) {
    background-color: #f5f5f5;
}

.highlight {
    background-color: #e1eefd;
    font-weight: bold;
}

.alert {
    background-color: #ffe8e8;
    color: #8a2727;
}

.filters {
    display: flex;
    padding: 15px 50px;
    margin-top: 10px;
}

.filters > div {
    display: flex;
}

.filters span {
    margin: 10px;
}

.projectFilter > div, .autocomplete {
    width: 600px;
}
